

.star {
  width: 18rem;
  height: 18rem;
}

.star > * {
  float: right;
}

@keyframes pulse {
  50% {
    color: rgb(239 68 68);
    text-shadow: 0 0 15px rgb(239 68 68);
  }
}

.star label {
  height: 3rem;
  width: 20%;
  display: block;
  position: relative;
  cursor: pointer;
}

.star label:nth-of-type(5):after {
  animation-delay: .5s;
}

.star label:nth-of-type(4):after {
  animation-delay: .4s;
}

.star label:nth-of-type(3):after {
  animation-delay: .3s;
}

.star label:nth-of-type(2):after {
  animation-delay: .2s;
}

.star label:nth-of-type(1):after {
  animation-delay: .1s;
}

.star label:after {
  transition: all 1s ease-out;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  content: "☆";
  color: rgb(220 38 38);
  /* top: 2em; */
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 32px;
  animation: 1s pulse ease;
}

.star label:hover:after {
  color: rgb(252 165 165);
  text-shadow: 0 0 15px rgb(252 165 165);
}

.star input {
  display: none;
}

.star input:checked + label:after,
.star input:checked ~ label:after {
  content: "★";
  color: #F9BF3B;
  text-shadow: 0 0 20px #F9BF3B;
}